@font-face {
	font: {
		family: "Inter";
		display: fallback;
		style: normal;
		weight: 400;
	}
	src:
		local("Inter Regular"),
		local("Inter-Regular"),
		url("/coffee-house/assets/fonts/inter/inter_regular.ttf") format("ttf");
}

@font-face {
	font: {
		family: "Inter";
		display: swap;
		style: normal;
		weight: 600;
	}
	src:
		local("Inter SemiBold"),
		local("Inter-SemiBold"),
		url("/coffee-house/assets/fonts/inter/inter_semi_bold.ttf") format("ttf");
}

@font-face {
	font: {
		family: "Inter";
		display: swap;
		style: italic;
		weight: 600;
	}
	src:
		local("Inter SemiBold Italic"),
		local("Inter-SemiBold-Italic"),
		url("/coffee-house/assets/fonts/inter/inter_semi_bold_italic.ttf") format("ttf");
}
