@import "normalize/normalize";
@import "fonts";
@import "variables";

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

@import "header";

@import "index/index";

@import "footer";
