@import "reset";
@import "fonts";
@import "variables";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

body {
	background-color: map-get($colors, background, body);
}

@import "header";
@import "index/main";
@import "menu/main";
@import "footer";
