.about {
	margin-bottom: rem(100);

	&__title {
		margin-bottom: rem(40);
		@extend %heading-2;
		color: map-get($colors, text, dark);

		&_taupe {
			font-style: italic;
			color: map-get($colors, text, accent);
		}

		@media screen and (max-width: 762px) {
			font-size: 8.39895vw;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			& {
				@include heading-2-mobile;
			}
		}
	}

	&__gallery {
		display: flex;
		align-items: center;
		width: 100%;
		gap: rem(40);

		@media screen and (max-width: map-get($adaptive, tablet)) {
			flex-direction: column;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-radius: 20px;
		overflow: hidden;

		@media screen and (min-width: (map-get($adaptive, tablet) + 1px)) {
			&:hover .about__image {
				width: 100%;
			}
		}
	}

	&__first-column,
	&__second-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(40);
		width: 50%;

		@media screen and (max-width: map-get($adaptive, tablet)) {
			width: 100%;
		}
	}

	&__first-column {
		.about__wrapper:nth-child(1) {
			height: 590px;
		}

		.about__wrapper:nth-child(2) {
			height: 430px;
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			.about__wrapper:nth-child(2) {
				display: none;
			}
		}
	}

	&__second-column {
		.about__wrapper:nth-child(1) {
			height: 430px;
		}

		.about__wrapper:nth-child(2) {
			height: 590px;
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			.about__wrapper:nth-child(1) {
				display: none;
			}
		}
	}

	&__image {
		position: absolute;
		width: 726px;
		aspect-ratio: 1 / 1;
		transition: width, height, ease-out, 0.5s;
	}
}
