.about {
	margin-bottom: rem(100);

	&__title {
		margin-bottom: rem(40);
		@extend %heading-2;
		color: map-get($colors, text, dark);

		&_taupe {
			font-style: italic;
			color: map-get($colors, text, accent);
		}
	}

	&__gallery {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}

	&__wrapper {
		border-radius: rem(20);
		overflow: hidden;

		&:hover .about__image {
			transform: scale(1);
		}
	}

	&__first-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(40);

		.about__wrapper:nth-child(1) {
			max-height: 590px;
		}

		.about__wrapper:nth-child(2) {
			max-height: 430px;
		}
	}

	&__second-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(40);

		.about__wrapper:nth-child(1) {
			max-height: 430px;
		}

		.about__wrapper:nth-child(2) {
			max-height: 590px;
		}
	}

	&__image {
		max-width: 660px;
		max-height: inherit;
		transition: transform 0.5s ease-out;
		transform: scale(1.1);
	}
}
