.enjoy {
	margin-bottom: rem(100);

	&__inner {
		max-width: 100%;
		padding: rem(100);
		border-radius: 40px;
		background: {
			image: url("../assets/images/index/enjoy/hero_image.jpg");
			size: cover;
			repeat: no-repeat;
			position: center;
		}

		@media screen and (max-width: 1280px) {
			padding-left: 7.8125vw;
			padding-right: 7.8125vw;
		}

		@media screen and (max-width: 667px) {
			padding-top: 15vw;
			padding-bottom: 15vw;
		}

		@media screen and (max-width: 400px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}

		@media screen and (max-width: 384px) {
			padding-left: rem(16);
			padding-right: rem(16);
		}
	}

	&__info {
		max-width: 530px;
		display: flex;
		flex-direction: column;
		gap: rem(40);
	}

	&__title {
		@extend %heading-1;
		color: map-get($colors, text, light);

		&_taupe {
			color: map-get($colors, text, accent);
			font-style: italic;
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			font-size: 9.375vw;
		}

		@media screen and (max-width: 448px) {
			font-size: 42px;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			& {
				@include heading-1-mobile;
			}
		}

		@media screen and (max-width: 370px) {
			font-size: 11vw;
		}
	}

	&__text-menu {
		position: relative;
		right: 0px;
		transition: right ease-in 0.3s;

		@media screen and (hover: none) and (max-width: 960px) {
			right: 14px;
		}
	}

	&__hidden-icon {
		position: relative;
		right: 6px;
		min-width: 20px;
		min-height: 20px;
		stroke: map-get($colors, text, dark);
		opacity: 0;
		transition: opacity ease-in 0.3s;

		@media screen and (hover: none) and (max-width: 960px) {
			opacity: 1;
		}
	}

	&__description {
		@extend %medium;
		color: map-get($colors, text, light);
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		max-width: 200px;
		max-height: 64px;
		border-radius: 100px;
		padding: rem(20) rem(78);
		@extend %link-and-button;
		color: map-get($colors, text, dark);
		background-color: map-get($colors, background, body);

		@media screen and (hover: hover) and (pointer: fine) {
			&:hover {
				& .enjoy__text-menu {
					right: 14px;
				}

				& .enjoy__hidden-icon {
					opacity: 1;
				}
			}
		}
	}
}
