.enjoy {
	height: 644px;
	margin-bottom: 100px;

	&__inner {
		padding: 100px;
		border-radius: 40px;
		background: {
			image: url("../assets/images/index/enjoy/hero_image.jpg");
			size: cover;
			repeat: no-repeat;
			position-y: -30px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		width: 530px;
		gap: 40px;
	}

	&__title {
		@extend %heading-1;
		color: map-get($colors, text, light);

		&_taupe {
			color: map-get($colors, text, accent);
			font-style: italic;
		}
	}

	&__text-menu {
		position: relative;
		right: 0px;
		transition: right ease-in 0.3s;
	}

	&__hidden-icon {
		position: relative;
		right: 6px;
		opacity: 0;
		transition: opacity ease-in 0.3s;
	}

	&__description {
		@extend %medium;
		color: map-get($colors, text, light);
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		width: 200px;
		height: 64px;
		border-radius: 100px;
		padding: 20px 78px;
		@extend %link-and-button;
		color: map-get($colors, text, dark);
		background-color: map-get($colors, background, body);

		&:hover {
			& .enjoy__text-menu {
				right: 14px;
			}

			& .enjoy__hidden-icon {
				opacity: 1;
			}
		}
	}
}
