.enjoy {
	max-height: 644px;
	margin-bottom: rem(100);

	&__inner {
		max-width: 100%;
		padding: rem(100);
		border-radius: 40px;
		background: {
			image: url("../assets/images/index/enjoy/hero_image.jpg");
			size: cover;
			repeat: no-repeat;
			position: center;
		}

		@media screen and (max-width: 805px) {
			padding-left: 11.044vw;
			padding-right: 11.044vw;
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			padding-left: rem(60);
			padding-right: rem(60);
		}

		@media screen and (max-width: 610px) {
			padding-left: 6vw;
			padding-right: 6vw;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			padding: rem(60) rem(16);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		max-width: 530px;
		gap: rem(40);
	}

	&__title {
		@extend %heading-1;
		color: map-get($colors, text, light);

		&_taupe {
			color: map-get($colors, text, accent);
			font-style: italic;
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			font-size: 9.375vw;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			& {
				@include heading-1-mobile;
			}
		}

		@media screen and (max-width: 370px) {
			font-size: 11vw;
		}
	}

	&__text-menu {
		position: relative;
		right: 0px;
		transition: right ease-in 0.3s;
	}

	&__hidden-icon {
		position: relative;
		right: 6px;
		opacity: 0;
		transition: opacity ease-in 0.3s;
	}

	&__description {
		@extend %medium;
		color: map-get($colors, text, light);
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		max-width: 200px;
		max-height: 64px;
		border-radius: 100px;
		padding: rem(20) rem(78);
		@extend %link-and-button;
		color: map-get($colors, text, dark);
		background-color: map-get($colors, background, body);

		@media screen and (min-width: (map-get($adaptive, tablet) + 1px)) {
			&:hover {
				& .enjoy__text-menu {
					right: 14px;
				}

				& .enjoy__hidden-icon {
					opacity: 1;
				}
			}
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			& .enjoy__text-menu {
				right: 14px;
			}

			& .enjoy__hidden-icon {
				opacity: 1;
			}
		}
	}
}
