.favorite-coffee {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(40);
	margin-bottom: rem(100);
	text-align: center;

	&__title {
		@extend %heading-2;
		color: map-get($colors, text, dark);

		&_taupe {
			font-style: italic;
			color: map-get($colors, text, accent);
		}

		@media screen and (max-width: 510px) {
			font-size: 11vw;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			& {
				@include heading-2-mobile;
			}
		}
	}

	&-info {
		max-width: 1152px;
		overflow: hidden;
		color: map-get($colors, text, dark);
		@extend %heading-3;

		&__wrapper {
			display: flex;
			max-width: 480px;
			max-height: 640px;
			margin-left: auto;
			margin-right: auto;
			transform: translateX(0);
			transition-property: transform;
			transition-timing-function: ease;
			transition-duration: 1s;
		}

		&__item {
			flex: 0 0 100%;
			max-width: 100%;
			text-align: center;
			user-select: none;
		}

		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(16);
		}

		&__image {
			width: 100%;
			margin-bottom: rem(20);
		}

		&__description {
			@extend %medium;
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.slider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: rem(40);
	width: 100%;
	padding-right: 4px;
	padding-left: 4px;

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 60px;
		min-height: 60px;
		border: rem(1) solid map-get($colors, border, dark);
		border-radius: 100px;
		background-color: transparent;
		transition-property: background-color;
		transition-timing-function: ease-out;
		transition-duration: 0.5s;

		@media (hover: hover) and (pointer: fine) {
			&:not([disabled]):hover {
				background-color: map-get($colors, background, container);

				& .slider__arrow {
					stroke: map-get($colors, text, light);
				}
			}
		}

		@media screen and (max-width: (580px - 0.5px)) {
			display: none;
		}
	}

	&__arrow {
		width: 24px;
		height: 24px;
		stroke: map-get($colors, text, dark);
		transition-property: stroke;
		transition-timing-function: ease-out;
		transition-duration: 0.5s;
	}

	&-controls {
		display: flex;
		align-items: center;
		width: 144px;
		gap: rem(12);

		&__item {
			position: relative;
			width: 40px;
			height: 4px;
			border-radius: 100px;
			background-color: map-get($colors, border, light);
			overflow: hidden;
			--animate: 0;
			--duration: transform 5s ease;

			&::after {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: -100%;
				background-color: map-get($colors, border, dark);
				transform: translateX(var(--animate));
				transition: var(--duration);
				content: "";
			}
		}
	}

	@media screen and (max-width: map-get($adaptive, tablet)) {
		padding-left: 0;
		padding-right: 0;
	}
}
