.footer {
	margin-bottom: 40px;

	&__inner {
		display: flex;
		align-items: center;
		gap: rem(100);
		border-radius: 40px;
		padding: rem(100);
		background-color: map-get($colors, background, container);

		@media screen and (max-width: 1175px) {
			align-items: flex-start;
			flex-direction: column;
		}

		@media screen and (max-width: 900px) {
			padding-left: 7.8125vw;
			padding-right: 7.8125vw;
		}

		@media screen and (max-width: 700px) {
			padding-top: 12.5vw;
			padding-bottom: 12.5vw;
			gap: 14vw;
		}

		@media screen and (max-width: 480px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			padding-left: rem(16);
			padding-right: rem(16);
			gap: rem(40);
		}

		@media screen and (max-width: 330px) {
			padding-left: rem(12);
			padding-right: rem(12);
		}
	}
}

.social-networks {
	max-width: 530px;

	&__title {
		@extend %heading-2;
		color: map-get($colors, text, light);
		margin-bottom: rem(40);

		&_taupe {
			font-style: italic;
			color: map-get($colors, text, accent);
		}

		@media screen and (max-width: 685px) {
			font-size: 8.42105vw;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			& {
				@include heading-2-mobile;
			}
		}

		@media screen and (max-width: 330px) {
			font-size: 31px;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: rem(12);
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		border-radius: 100px;
		border: 1px solid map-get($colors, border, light);
		background-color: transparent;
		transition: background-color, stroke, ease-out, 0.5s;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				background-color: map-get($colors, background, body);

				& .social-networks__icon {
					stroke: map-get($colors, text, dark);
				}
			}
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
		stroke: map-get($colors, text, light);
	}
}

.contacts {
	max-width: 530px;

	&__title {
		margin-bottom: rem(40);
		@extend %heading-3;
		color: map-get($colors, text, light);
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: rem(16);
		@extend %link-and-button;
		color: map-get($colors, text, light);
	}

	&__link {
		position: relative;
		display: flex;
		align-items: flex-start;
		height: 24px;
		gap: rem(8);

		&:nth-child(1),
		&:nth-child(2) {
			&::after {
				position: absolute;
				width: 100%;
				bottom: -4px;
				height: 2px;
				background-color: map-get($colors, text, light);
				opacity: 0;
				transform: scaleX(0);
				transition: transform, opacity, ease-out, 0.5s;
				content: "";
			}
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover::after {
				transform: scaleX(1);
				opacity: 1;
			}
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		height: 28px;
		gap: rem(8);
		overflow: hidden;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}
}
