.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: rem(20);

	&__link {
		max-width: 100px;
		max-height: 60px;

		&_unselect {
			pointer-events: none;
		}
	}

	&-menu {
		position: relative;
		max-height: 28px;
		overflow: hidden;

		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			max-width: 72px;
			max-height: 24px;
		}

		&__text {
			@extend %link-and-button;
			color: map-get($colors, text, dark);
		}

		&__icon {
			max-width: 20px;
			max-height: 20px;
		}

		&::after {
			position: absolute;
			max-width: 100%;
			bottom: 0;
			max-height: 2px;
			background-color: map-get($colors, text, dark);
			opacity: 0;
			transform: scaleX(0);
			transition: transform, opacity, ease-out, 0.5s;
			content: "";
		}

		&:hover::after {
			transform: scaleX(1);
			opacity: 1;
		}

		&_select {
			pointer-events: none;

			&::after {
				transform: scaleX(1);
				opacity: 1;
			}
		}
	}
}

.nav {
	flex: 1 0 0;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 456px;
		margin-left: auto;
		margin-right: auto;
		gap: rem(40);
	}

	&__item {
		display: block;
		position: relative;
		max-height: 28px;
		overflow: hidden;

		&::after {
			position: absolute;
			max-width: 100%;
			bottom: 0;
			max-height: 2px;
			background-color: map-get($colors, text, dark);
			opacity: 0;
			transform: scaleX(0);
			transition: transform, opacity, ease-out, 0.5s;
			content: "";
		}

		&:hover::after {
			transform: scaleX(1);
			opacity: 1;
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(2);
		max-height: 24px;
		@extend %link-and-button;
		color: map-get($colors, text, dark);
	}
}

.burger-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border: rem(1) solid map-get($colors, border, dark);
	border-radius: 100px;

	&__inner {
		position: relative;
		width: 16px;
		height: 8px;
	}

	&__line {
		position: absolute;
		width: 18px;
		height: 2px;
		background-color: map-get($colors, text, dark);

		&:first-child {
			top: 0;
			left: -1px;
		}

		&:last-child {
			left: -1px;
			bottom: 0;
		}
	}
}
