.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(40);
	margin-bottom: rem(100);

	&__buttons {
		display: flex;
		align-items: center;
		gap: rem(16);
	}

	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		max-height: 46px;
		padding: rem(8) rem(16) rem(8) rem(8);
		border: 1px solid map-get($colors, border, light);
		border-radius: rem(100);
		background-color: transparent;
		transition: border-color, background-color, ease-out, 0.5s;

		&-icon {
			display: inline;
			@extend %link-and-button;
		}

		&-wrapper {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			max-width: 30px;
			max-height: 30px;
			padding: rem(3) rem(7);
			border-radius: 100px;
			background-color: map-get($colors, border, light);
			transition: background-color ease-out 0.5s;
		}

		&-text {
			@extend %link-and-button;
			color: map-get($colors, text, dark);
			color: inherit;
			transition: color ease-out 0.5s;
		}

		&_select {
			border-color: transparent;
			background-color: map-get($colors, background, container);
			color: map-get($colors, text, light);

			> .menu__button-wrapper {
				background-color: map-get($colors, background, body);
			}
		}

		&:hover,
		&:active {
			border-color: transparent;
			background-color: map-get($colors, background, container);
			color: map-get($colors, text, light);

			& .menu__button-wrapper {
				background-color: map-get($colors, background, body);
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(40);
	}

	&__item {
		max-width: 310px;
		max-height: 506px;
		border: rem(1) solid map-get($colors, border, light);
		border-radius: rem(40);
		color: map-get($colors, text, dark);

		&:hover .menu__image {
			max-width: 310px;
			max-height: 310px;
		}
	}

	&__image {
		max-width: 340px;
		max-height: 340px;
		transition:
			max-width,
			max-height ease-out,
			0.5s;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 100%;
		max-height: 196px;
		padding: rem(20);
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		max-height: 310px;
		border-radius: rem(40);
		overflow: hidden;
	}

	&__title {
		@extend %heading-3;
		margin-bottom: rem(12);
	}

	&__description {
		@extend %medium;
	}

	&__price {
		@extend %heading-3;
	}
}
