.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(40);
	margin-bottom: rem(100);

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(16);

		@media screen and (max-width: 700px) {
			gap: 2.11vw;
		}

		@media screen and (max-width: map-get($adaptive, mobile)) {
			gap: rem(8);
		}
	}

	&__button {
		display: flex;
		align-items: center;
		gap: rem(8);
		height: 46px;
		border: 1px solid map-get($colors, border, light);
		border-radius: 100px;
		padding: rem(8) rem(16) rem(8) rem(8);
		background-color: transparent;
		transition: border-color, background-color, ease-out, 0.5s;
		user-select: none;

		&-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			padding: rem(3) rem(7);
			border-radius: 100px;
			background-color: map-get($colors, border, light);
			transition: background-color ease-out 0.5s;
		}

		&-icon {
			display: inline-block;
			@extend %link-and-button;
			width: 17px;
			height: 17px;
		}

		&-text {
			@extend %link-and-button;
			color: map-get($colors, text, dark);
			color: inherit;
			transition: color ease-out 0.5s;
		}

		&_select {
			border-color: transparent;
			background-color: map-get($colors, background, container);
			color: map-get($colors, text, light);
			pointer-events: none;

			> .menu__button-wrapper {
				background-color: map-get($colors, background, body);
			}
		}

		&:active {
			border-color: transparent;
			background-color: map-get($colors, background, container);
			color: map-get($colors, text, light);

			& .menu__button-wrapper {
				background-color: map-get($colors, background, body);
			}
		}

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				border-color: transparent;
				background-color: map-get($colors, background, container);
				color: map-get($colors, text, light);

				& .menu__button-wrapper {
					background-color: map-get($colors, background, body);
				}
			}
		}
	}

	&__grid {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(40);
	}

	&__item {
		width: 310px;
		height: 506px;
		border: rem(1) solid map-get($colors, border, light);
		border-radius: 40px;
		color: map-get($colors, text, dark);

		@media (hover: hover) and (pointer: fine) {
			&:hover .menu__image {
				width: 310px;
				height: 310px;
			}

			cursor: pointer;
		}
	}

	&__image {
		width: 340px;
		height: 340px;
		transition:
			width,
			height ease-out,
			0.5s;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		height: 196px;
		padding: rem(20);
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 310px;
		border-radius: 40px;
		overflow: hidden;
	}

	&__title {
		@extend %heading-3;
		margin-bottom: rem(12);
	}

	&__description {
		@extend %medium;
	}

	&__price {
		@extend %heading-3;
	}

	&__update {
		display: none;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
		border: 1px solid map-get($colors, border, dark);
		border-radius: 100px;
		background-color: transparent;

		&-icon {
			width: 24px;
			height: 24px;
		}

		@media screen and (max-width: 1090px) {
			display: flex;
		}
	}
}

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(64, 63, 61, 0.8);
	opacity: 0;
	overflow: hidden;
	z-index: 4;
	transition: opacity 0.2s ease-in-out;

	&_open {
		display: flex;
	}

	&__block {
		max-width: 800px;
		margin-left: 40px;
		margin-right: 40px;
		display: flex;
		padding: 16px;
		border-radius: 40px;
		background-color: map-get($colors, background, body);

		&-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 310px;
			height: 310px;
			border-radius: 40px;
			overflow: hidden;

			@media screen and (max-width: 709px) {
				display: none;
			}
		}

		@media screen and (max-width: map-get($adaptive, tablet)) {
			margin-left: 5.2083vw;
			margin-right: 5.2083vw;
		}

		@media screen and (max-width: 709px) {
			margin-left: 19px;
			margin-right: 19px;
		}
	}

	&__image {
		width: 340px;
		height: 340px;
		transition:
			width,
			height ease-out,
			0.5s;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-left: 20px;

		@media screen and (max-width: 709px) {
			padding-left: 0;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__title {
		@extend %heading-3;
		color: map-get($colors, text, dark);
	}

	&__description {
		@extend %medium;
		color: map-get($colors, text, dark);
	}

	&__sizes-and-additives {
		&-title {
			margin-bottom: 8px;
			@extend %medium;
			color: map-get($colors, text, dark);
		}

		&-inner {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			gap: 8px;
		}

		&-item {
			display: flex;
			align-items: center;
			height: 46px;
			padding: 8px 16px 8px 8px;
			gap: 8px;
			border: 1px solid map-get($colors, border, light);
			border-radius: 100px;
			background: none;
			@extend %link-and-button;
			color: map-get($colors, text, dark);
			transition-property: color, border-color, background-color;
			transition-timing-function: ease-out;
			transition-duration: 0.5s;
			--background-index: #c1b6ad;

			&-index {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				border-radius: 100px;
				color: map-get($colors, text, dark);
				background-color: var(--background-index);
				transition-property: background-color;
				transition-timing-function: ease-out;
				transition-duration: 0.5s;
			}

			&_active {
				color: map-get($colors, text, light);
				border-color: transparent;
				background-color: map-get($colors, background, container);
				--background-index: #e1d4c9;
			}
		}
	}

	&__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@extend %heading-3;
		color: map-get($colors, text, dark);
	}

	&__alert {
		display: flex;
		width: 100%;
		gap: 8px;
		border-top: 1px solid map-get($colors, border, light);
		padding-top: 12px;
		padding-bottom: 12px;

		&-inner {
			width: 16px;
			flex: 16px 0 0;
		}

		&-icon {
			display: block;
			width: 100%;
			aspect-ratio: 1 / 1;
		}

		&-description {
			@extend %caption;
			color: map-get($colors, text, dark);
		}
	}

	&__button {
		width: 100%;
		height: 44px;
		padding: 10px 78px;
		border: 1px solid map-get($colors, border, dark);
		border-radius: 100px;
		@extend %link-and-button;
		color: map-get($colors, text, dark);
		transition-property: color, background-color;
		transition-timing-function: ease-in;
		transition-duration: 0.3s;
		background: none;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				color: map-get($colors, text, light);
				background-color: map-get($colors, background, container);
			}
		}
	}
}
