html {
	font-size: $root-element + px;
	scroll-behavior: smooth;
}

.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: map-get($adaptive, body-padding, desktop);
	padding-right: map-get($adaptive, body-padding, desktop);
}

body {
	background-color: map-get($colors, background, body);
}
