html {
	font-size: 16px;
	scroll-behavior: smooth;
}

.container {
	max-width: 1440px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 640px) {
		padding-left: 16px;
		padding-right: 16px;
	}
}

body {
	background-color: #e1d4c9;
}
