html {
	font-size: $root-element + px;
	scroll-behavior: smooth;
}

.container {
	max-width: map-get($adaptive-sizes, container-width, desktop);
	margin-left: auto;
	margin-right: auto;
}

body {
	padding: map-get($adaptive-sizes, body-padding, desktop);
	background-color: map-get($colors, background, body);
}
