@font-face {
	font: {
		family: "Inter";
		display: fallback;
		style: normal;
		weight: 400;
	}

	src: url("../assets/fonts/inter/regular/inter-regular.eot");
	src:
		local("Inter Regular"),
		local("Inter-Regular"),
		url("../assets/fonts/inter/regular/inter-regular.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/inter/regular/inter-regular.woff2") format("woff2"),
		url("../assets/fonts/inter/regular/inter-regular.woff") format("woff"),
		url("../assets/fonts/inter/regular/inter-regular.ttf") format("truetype");
}

@font-face {
	font: {
		family: "Inter";
		display: swap;
		style: normal;
		weight: 600;
	}

	src: url("../assets/fonts/inter/semi-bold/inter-semi-bold.eot");
	src:
		local("Inter Semi Bold"),
		local("Inter-SemiBold"),
		url("../assets/fonts/inter/semi-bold/inter-semi-bold.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/inter/semi-bold/inter-semi-bold.woff2") format("woff2"),
		url("../assets/fonts/inter/semi-bold/inter-semi-bold.woff") format("woff"),
		url("../assets/fonts/inter/semi-bold/inter-semi-bold.ttf") format("truetype");
}

@font-face {
	font: {
		family: "Inter";
		display: swap;
		style: italic;
		weight: 600;
	}

	src: url("../assets/fonts/inter/semi-bold-italic/inter-semi-bold-italic.eot");
	src:
		local("Inter Semi Bold Italic"),
		local("Inter-SemiBoldItalic"),
		url("../assets/fonts/inter/semi-bold-italic/inter-semi-bold-italic.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/inter/semi-bold-italic/inter-semi-bold-italic.woff2") format("woff2"),
		url("../assets/fonts/inter/semi-bold-italic/inter-semi-bold-italic.woff") format("woff"),
		url("../assets/fonts/inter/semi-bold-italic/inter-semi-bold-italic.truetype") format("truetype");
}
