@font-face {
	font: {
		family: "Inter";
		display: fallback;
		style: normal;
		weight: 400;
	}

	src: url("/assets/fonts/Inter/Regular/Inter-Regular.eot");
	src:
		local("Inter Regular"),
		local("Inter-Regular"),
		url("/assets/fonts/Inter/Regular/Inter-Regular.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/Inter/Regular/Inter-Regular.woff2") format("woff2"),
		url("/assets/fonts/Inter/Regular/Inter-Regular.woff") format("woff"),
		url("/assets/fonts/Inter/Regular/Inter-Regular.ttf") format("truetype");
}

@font-face {
	font: {
		family: "Inter";
		display: swap;
		style: normal;
		weight: 600;
	}

	src: url("/assets/fonts/Inter/SemiBold/Inter-SemiBold.eot");
	src:
		local("Inter Semi Bold"),
		local("Inter-SemiBold"),
		url("/assets/fonts/Inter/SemiBold/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/Inter/SemiBold/Inter-SemiBold.woff2") format("woff2"),
		url("/assets/fonts/Inter/SemiBold/Inter-SemiBold.woff") format("woff"),
		url("/assets/fonts/Inter/SemiBold/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
	font: {
		family: "Inter";
		display: swap;
		style: italic;
		weight: 600;
	}

	src: url("/assets/fonts/Inter/SemiBoldItalic/Inter-SemiBoldItalic.eot");
	src:
		local("Inter Semi Bold Italic"),
		local("Inter-SemiBoldItalic"),
		url("/assets/fonts/Inter/SemiBoldItalic/Inter-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/Inter/SemiBoldItalic/Inter-SemiBoldItalic.woff2") format("woff2"),
		url("/assets/fonts/Inter/SemiBoldItalic/Inter-SemiBoldItalic.woff") format("woff"),
		url("/assets/fonts/Inter/SemiBoldItalic/Inter-SemiBoldItalic.truetype") format("truetype");
}
